
                body {
            background-color: blue;
            }

            h1 {
            color: rgb(245, 6, 153);
            text-align: center;
            }

            p {
            font-family: verdana;
            font-size: 20px;
            }
     
