
          /* Ejemplo de como aplicar estilos globales a etiquetas html. */
          body {
              background-color: blue;
          }
    
          /* Ejemplo de una clase */
          .rojo {
              background-color:red
          }
          .verde{
              color: green;
          }