
          /* Ejemplo de como aplicar estilos mediante la id */
      
          .multiplesValores{
              background-color:red;
              width: 100px;
              color: black;
              border:  15px solid green;
          }