     /* Ejemplo de como aplicar estilos globales a etiquetas html. */
     body {
        background-color: black;
    }

    h1 {
        color: gold;
        text-align: center;
    }

    p {
        font-family: verdana;
        font-size: 20px;
    }