
            body {
            background-color: blue;
            }

            h1 {
            color: rgb(245, 6, 153);
            text-align: center;
            }

            p {
            font-family: verdana;
            font-size: 20px;
            }

            .purple{
                background-color:purple
            }

            .verde {
                color:green
            }
            .cursiva {
                font-family: Verdana, Geneva, Tahoma, sans-serif ;
           }

           .multiplesValores {
               background-color: red;
               width: 10px;
               color: blue;
               }
